.verticalBar {
  position: fixed;
  top: var(--top-bar-height);
  left: 0;
  width: var(--vertical-bar-width);
  height: calc(100vh - var(--top-bar-height));
  background-color: var(--color-foundation-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pseudoButtonContainer {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .pseudoButton {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
  }
}

.copyrights {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  color: white;
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 25px;
  transform: rotate(180deg);
}
