@use "../../mixins.scss";

.loaderContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userDashboard {
  padding: 65px 90px;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    margin: 0;
    font-size: 2.5rem;
  }

  .firstName {
    color: var(--color-primary);
  }

  .chartContainer {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 260px;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    grid-template-areas:
      "activity key-data"
      "sessions key-data";
  }

  .keyDataContainer {
    grid-area: key-data;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
  }

  .sessions {
    grid-area: sessions;
    display: flex;
    gap: 30px;

    & > * {
      flex: 1 1 0;
    }
  }

  .wip {
    padding: 24px 30px;
    background-color: var(--color-foundation-light);
  }
}

@include mixins.not-large-desktop {
  .userDashboard {
    .chartContainer {
      grid-template-columns: 1fr;
      grid-template-rows: minmax(85px, auto) minmax(250px, 1fr) minmax(250px, 1fr);
      grid-template-areas:
        "key-data"
        "activity"
        "sessions";
    }

    .keyDataContainer {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
