:root {
  --color-primary: #ef0000;
  --color-foundation-dark: #020203;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
